{% load static %}
{% load course_tags %}
<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/img/icons/icon.png' %}">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&amp;family=Lora:wght@400;700&amp;family=Montserrat:wght@400;500;600;700&amp;family=Nunito:wght@400;700&amp;display=swap" rel="stylesheet">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/fontawesome.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/libs/aos/dist/aos.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/libs/choices.js/public/assets/styles/choices.min.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/libs/flickity-fade/flickity-fade.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/libs/flickity/dist/flickity.min.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/libs/highlightjs/styles/vs2015.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/libs/jarallax/dist/jarallax.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/libs/quill/dist/quill.core.css' %} " />

    <!-- Map -->
    <link href='../../../api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %} ">

    <title>watch-{{course.title}} </title>

</head>
<body class="bg-white">
    
    
    <!-- NAVBAR
    ================================================== -->
    <header class="bg-white border-bottom py-3 header-fixed " >
        <div class="px-5 px-lg-8 w-100">
            <div class="d-md-flex align-items-center">
                <!-- Brand -->
                <a class="navbar-brand mb-2 mb-md-0" href="{% url 'home'%}">
                    <img src="{% static 'assets/img/icons/L1.png' %}" class="navbar-brand-img" alt="...">
                </a>

                <!-- Lesson Title -->
                <div class="ms-md-6 ms-wd-12 ms-xl-10 me-auto mb-5 mb-md-0">
                    <h3 class="mb-0 line-clamp-2 ms-wd-3">{{course.category.name}} : {{course.title}} </h3>
                </div>

                <!-- Back to Course -->
                <a href="{% url 'course_details' slug=course.slug %}" class="btn btn-sm btn-primary ms-md-6 px-6 mb-3 mb-md-0 flex-shrink-0">Back to Course</a>
            </div>
        </div>
    </header>


    <!-- COURSE
    ================================================== -->
    <div class="mt-15 mt-md-11 pt-md-3">
        <div class="sidebar-collapse">
            <a class="text-white bg-primary rounded-right-lg p-4 w-60p h-50p" data-bs-toggle="collapse" href="#sidebarcollapseExample" role="button" aria-expanded="false" aria-controls="sidebarcollapseExample">
                <!-- Icon -->
                <svg width="25" height="17" viewBox="0 0 25 17" xmlns="http://www.w3.org/2000/svg">
                    <rect width="25" height="1" fill="currentColor"/>
                    <rect y="8" width="15" height="1" fill="currentColor"/>
                    <rect y="16" width="20" height="1" fill="currentColor"/>
                </svg>

                <svg width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.142135 2.00015L1.55635 0.585938L15.6985 14.7281L14.2843 16.1423L0.142135 2.00015Z" fill="currentColor"></path>
                    <path d="M14.1421 1.0001L15.5563 2.41431L1.41421 16.5564L0 15.1422L14.1421 1.0001Z" fill="currentColor"></path>
                </svg>

            </a>

            <div class="collapse shadow" id="sidebarcollapseExample">
                

                <div id="accordionCurriculum" class="sidebar-collapse-scroll">
                    {% for lesson in course.lesson_set.all %}
                    <div class="overflow-hidden">
                        <div class="d-flex align-items-center" id="curriculumheadingOne">
                            <h5 class="mb-0 w-100">
                                <button class="d-flex align-items-center p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="id{{lesson.id}}" aria-expanded="true" aria-controls="CurriculumcollapseOne">
                                    <span class="me-4 text-dark d-flex">
                                        <!-- Icon -->
                                        <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="15" height="2" fill="currentColor"/>
                                        </svg>

                                        <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                            <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                        </svg>

                                    </span>

                                    {{lesson.name}}
                                </button>
                            </h5>
                        </div>
                        {% for video in lesson.video_set.all %}
                        <div id="id{{video.lesson.id}}" class="collapse show" aria-labelledby="curriculumheadingOne" data-parent="#accordionCurriculum">
                            <div class="border-top px-5 py-4 min-height-70 d-md-flex align-items-center">
                                <div class="d-flex align-items-center me-auto mb-4 mb-md-0">
                                    <div class="text-secondary d-flex">
                                        <i class="fa-brands fa-youtube" style="color: #423371;"></i>
                                    </div>
                                  <a href="?lecture={{video.id}}">  
                                    <div class="ms-4">
                                        {{video.title}}
                                    </div>
                                  </a>  
                                </div>

                                <div class="d-flex align-items-center overflow-auto overflow-md-visible flex-shrink-all">
                                    <div class="badge btn-blue-soft me-5 font-size-sm fw-normal py-2">{{video.time_duration}} min</div>
                                    <a href="#" class="text-secondary d-flex">
                                        <!-- Icon -->
                                        <svg width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.8704 6.15374L3.42038 0.328572C2.73669 -0.0923355 1.9101 -0.109836 1.20919 0.281759C0.508282 0.673291 0.0898438 1.38645 0.0898438 2.18929V13.7866C0.0898438 15.0005 1.06797 15.9934 2.27016 16C2.27344 16 2.27672 16 2.27994 16C2.65563 16 3.04713 15.8822 3.41279 15.6591C3.70694 15.4796 3.79991 15.0957 3.62044 14.8016C3.44098 14.5074 3.05697 14.4144 2.76291 14.5939C2.59188 14.6982 2.42485 14.7522 2.27688 14.7522C1.82328 14.7497 1.33763 14.3611 1.33763 13.7866V2.18933C1.33763 1.84492 1.51713 1.53907 1.81775 1.3711C2.11841 1.20314 2.47294 1.21064 2.76585 1.39098L12.2159 7.21615C12.4999 7.39102 12.6625 7.68262 12.6618 8.01618C12.6611 8.34971 12.4974 8.64065 12.2118 8.81493L5.37935 12.9983C5.08548 13.1783 4.9931 13.5623 5.17304 13.8562C5.35295 14.1501 5.73704 14.2424 6.03092 14.0625L12.8625 9.87962C13.5166 9.48059 13.9081 8.78496 13.9096 8.01868C13.9112 7.25249 13.5226 6.55524 12.8704 6.15374Z" fill="currentColor"/>
                                        </svg>

                                    </a>
                                </div>
                            </div>

                            
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}    
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-11">
                <div class="col-lg-11 col-wd-12 ms-lg-auto pt-11 pt-lg-8">
                    <h2 class="font-size-xl mb-6">
                        {{video.title}}
                    </h2>

                    <a href="https://www.youtube.com/watch?v={{video.youtube_id}}" class="d-block sk-thumbnail rounded mb-8" data-fancybox>
                        <div class="h-90p w-90p rounded-circle bg-white size-30-all d-inline-flex align-items-center justify-content-center position-absolute center z-index-1">
                            <!-- Icon -->
                            <svg width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.8704 6.15374L3.42038 0.328572C2.73669 -0.0923355 1.9101 -0.109836 1.20919 0.281759C0.508282 0.673291 0.0898438 1.38645 0.0898438 2.18929V13.7866C0.0898438 15.0005 1.06797 15.9934 2.27016 16C2.27344 16 2.27672 16 2.27994 16C2.65563 16 3.04713 15.8822 3.41279 15.6591C3.70694 15.4796 3.79991 15.0957 3.62044 14.8016C3.44098 14.5074 3.05697 14.4144 2.76291 14.5939C2.59188 14.6982 2.42485 14.7522 2.27688 14.7522C1.82328 14.7497 1.33763 14.3611 1.33763 13.7866V2.18933C1.33763 1.84492 1.51713 1.53907 1.81775 1.3711C2.11841 1.20314 2.47294 1.21064 2.76585 1.39098L12.2159 7.21615C12.4999 7.39102 12.6625 7.68262 12.6618 8.01618C12.6611 8.34971 12.4974 8.64065 12.2118 8.81493L5.37935 12.9983C5.08548 13.1783 4.9931 13.5623 5.17304 13.8562C5.35295 14.1501 5.73704 14.2424 6.03092 14.0625L12.8625 9.87962C13.5166 9.48059 13.9081 8.78496 13.9096 8.01868C13.9112 7.25249 13.5226 6.55524 12.8704 6.15374Z" fill="currentColor"/>
                            </svg>

                        </div>
                        <img class="rounded shadow-light-lg" src="/{{video.thumbnail}}" alt="...">
                    </a>

                    <h3 class="">Course Description</h3>

                    <p class="mb-6 line-height-md">{{video.video_description}}</p>
                    
                    <a class="text-teal read-more h6 d-inline-block mb-8" data-bs-toggle="collapse" href="#readcollapseExample" role="button" aria-expanded="false" aria-controls="readcollapseExample">
                        <span class="d-inline-flex align-items-center more">
                            Read More
                            <span class="d-flex align-items-center justify-content-center bg-teal rounded-circle ms-2 p-2 w-26p">
                                <i class="fas fa-plus font-size-10 text-white"></i>
                            </span>
                        </span>
                        <span class="d-inline-flex align-items-center less">
                            Read Less
                            <span class="d-flex align-items-center justify-content-center bg-teal rounded-circle ms-2 p-2 w-26p">
                                <i class="fas fa-minus font-size-10 text-white"></i>
                            </span>
                        </span>
                    </a>

                    <div class="d-md-flex align-items-center justify-content-between mb-8">
                        
                        <a href="{% if previous_video %}{% url 'watch_course' slug=course.slug %}?lecture={{ previous_video.id }}{% endif %}"  class="btn btn-teal d-flex align-items-center text-white mb-5 mb-md-0 btn-block mw-md-280p justify-content-center">
                            <i class="fas fa-arrow-left font-size-xs"></i>
                            <span class="ms-3">Previous video</span>
                        </a>
                        
                        <a href="{% if next_video %}{% url 'watch_course' slug=course.slug %}?lecture={{ next_video.id }}{% endif %}"  class="btn btn-teal d-flex align-items-center text-white btn-block mw-md-280p justify-content-center mt-0">
                            <span class="me-3">Next video</span>
                            <i class="fas fa-arrow-right font-size-xs"></i>
                        </a>
                        
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->

    
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %} "></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.js' %} "></script>
    <script src="{% static 'assets/libs/aos/dist/aos.js' %} "></script>
    <script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js' %} "></script>
    <script src="{% static 'assets/libs/countup.js/dist/countUp.min.js' %} "></script>
    <script src="{% static 'assets/libs/dropzone/dist/min/dropzone.min.js' %} "></script>
    <script src="{% static 'assets/libs/flickity/dist/flickity.pkgd.min.js' %} "></script>
    <script src="{% static 'assets/libs/flickity-fade/flickity-fade.js' %} "></script>
    <script src="{% static 'assets/libs/highlightjs/highlight.pack.min.js' %} "></script>
    <script src="{% static 'assets/libs/imagesloaded/imagesloaded.pkgd.min.js' %} "></script>
    <script src="{% static 'assets/libs/isotope-layout/dist/isotope.pkgd.min.js' %} "></script>
    <script src="{% static 'assets/libs/jarallax/dist/jarallax.min.js' %} "></script>
    <script src="{% static 'assets/libs/jarallax/dist/jarallax-video.min.js' %} "></script>
    <script src="{% static 'assets/libs/jarallax/dist/jarallax-element.min.js' %} "></script>
    <script src="{% static 'assets/libs/parallax-js/dist/parallax.min.js' %} "></script>
    <script src="{% static 'assets/libs/quill/dist/quill.min.js' %} "></script>
    <script src="{% static 'assets/libs/smooth-scroll/dist/smooth-scroll.min.js' %} "></script>
    <script src="{% static 'assets/libs/typed.js/lib/typed.min.js' %} "></script>

    <!-- Map -->
    <script src='../../../api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.min.js' %} "></script>
    
    <!-- Chatbot -->
    
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script>
      window.botpressWebChat.init({
      "composerPlaceholder": "Chat with Bot",
      "botConversationDescription": "Codex",
      "botId": "508998da-15e7-483d-a88b-55ebf5fab4d4",
      "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
      "messagingUrl": "https://messaging.botpress.cloud",
      "clientId": "508998da-15e7-483d-a88b-55ebf5fab4d4",
      "webhookId": "dcf98da9-b282-427d-b295-3b14d9a72525",
      "lazySocket": true,
      "themeName": "prism",
      "botName": "Codex",
      "stylesheet": "https://webchat-styler-css.botpress.app/prod/4ad668c5-c39a-4d95-813a-8f3005b1bbbb/v97914/style.css",
      "frontendVersion": "v1",
      "enableConversationDeletion": true,
      "theme": "prism",
      "themeColor": "#2563eb"
      });
    </script>

</body>

</html>
