<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags: specifies vast range of characters from different languages -->
    <meta charset="utf-8" />  

    <!-- Required meta tags: responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Favicon: small icon displayed in the browser tab -->
    <link rel="shortcut icon" href="{% static 'assets/img/icons/icon.png' %}" />

    <!-- Font: importing fonts from Google Fonts and other libraries:-->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&amp;family=Lora:wght@400;700&amp;family=Montserrat:wght@400;500;600;700&amp;family=Nunito:wght@400;700&amp;display=swap" rel="stylesheet" />

    <!-- Libs CSS: CSS files for various libraries -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/fontawesome.css' %} " />
    <link rel="stylesheet" href="{% static 'assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.css' %} " />
    <link rel="stylesheet" href="{% static 'assets/libs/aos/dist/aos.css' %} " />
    <link rel="stylesheet" href="{% static 'assets/libs/choices.js/public/assets/styles/choices.min.css' %} " />
    <link rel="stylesheet" href="{% static 'assets/libs/flickity-fade/flickity-fade.css' %} " />
    <link rel="stylesheet" href="{% static 'assets/libs/flickity/dist/flickity.min.css' %} " />
    <link rel="stylesheet" href="{% static 'assets/libs/highlightjs/styles/vs2015.css' %} " />
    <link rel="stylesheet" href="{% static 'assets/libs/jarallax/dist/jarallax.css' %} " />
    <link rel="stylesheet" href="{% static 'assets/libs/quill/dist/quill.core.css' %} " />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %} " />
    <link rel="stylesheet" href="{% static 'assets/css/style1.css' %} " />

    <title>
      LearnCode-{% block title %}{% endblock %}
    </title>

    <!--  Script tag imports the Font Awesome icon library -->
    <script src="https://kit.fontawesome.com/2257d65135.js" crossorigin="anonymous"></script>

    <!-- jQuery library:simplifies the process of handling HTML documents, event handling, animation, and Ajax interactions -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- used for pop-ups that appear when the user hovers over certain elements on the web page -->
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
  </head>

  <body>
  
    {% block content %}{% endblock %}

    {% include 'components/footer.html' %}
    {% include 'components/models.html' %}

    <!--   JAVASCRIPT
    ==================================================   -->
    <!-- Libs JS: files for various libraries-->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %} "></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %} "></script>

    <!-- FancyBox, a jQuery lightbox plugin, used for displaying images, videos, or other multimedia -->
    <script src="{% static 'assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.js' %} "></script>

    <!-- This imports AOS (Animate On Scroll) -->
    <script src="{% static 'assets/libs/aos/dist/aos.js' %} "></script>

    <!--a library for enhancing select boxes and input fields -->
    <script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js' %} "></script>

    <!-- a JavaScript library for animating counting up of numbers. -->
    <script src="{% static 'assets/libs/countup.js/dist/countUp.min.js' %} "></script>

    <!-- a JavaScript library for handling file uploads with drag-and-drop support -->
    <script src="{% static 'assets/libs/dropzone/dist/min/dropzone.min.js' %} "></script>

    <!-- a JavaScript library for creating touch-friendly, responsive carousels and sliders. -->
    <script src="{% static 'assets/libs/flickity/dist/flickity.pkgd.min.js' %} "></script>

    <!-- Flickity that adds fade effects to the carousel items -->
    <script src="{% static 'assets/libs/flickity-fade/flickity-fade.js' %} "></script>
    
    <!-- a syntax highlighting library for code snippets -->
    <script src="{% static 'assets/libs/highlightjs/highlight.pack.min.js' %} "></script>

    <!-- a JavaScript library for detecting when images have been loaded. -->
    <script src="{% static 'assets/libs/imagesloaded/imagesloaded.pkgd.min.js' %} "></script>

    <!-- a JavaScript library for creating and filtering layouts with masonry and grid layouts -->
    <script src="{% static 'assets/libs/isotope-layout/dist/isotope.pkgd.min.js' %} "></script>

    <!-- a JavaScript library for creating parallax scrolling effects.-->
    <script src="{% static 'assets/libs/jarallax/dist/jarallax.min.js' %} "></script>

    <!--  an extension for Jarallax that adds support for video backgrounds -->
    <script src="{% static 'assets/libs/jarallax/dist/jarallax-video.min.js' %} "></script>

    <!--  adds support for scrolling animations triggered by element visibility. -->
    <script src="{% static 'assets/libs/jarallax/dist/jarallax-element.min.js' %} "></script>

    <!-- a JavaScript library for creating parallax scrolling effects -->
    <script src="{% static 'assets/libs/parallax-js/dist/parallax.min.js' %} "></script>

    <!--   for creating rich text editors. -->
    <script src="{% static 'assets/libs/quill/dist/quill.min.js' %} "></script>

    <!--  library for smooth scrolling to anchor links. -->
    <script src="{% static 'assets/libs/smooth-scroll/dist/smooth-scroll.min.js' %} "></script>
    
    <!--   library for creating typing animations. -->
    <script src="{% static 'assets/libs/typed.js/lib/typed.min.js' %} "></script>


    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.min.js' %} "></script>
    <script src="{% static 'assets/js/bootstrap.js' %} "></script>
    <script src="{% static 'assets/js/jquery-3.4.1.min.js' %} "></script>

    <!-- Chatbot -->

    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script>
      window.botpressWebChat.init({
      "composerPlaceholder": "Chat with Bot",
      "botConversationDescription": "Codex",
      "botId": "508998da-15e7-483d-a88b-55ebf5fab4d4",
      "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
      "messagingUrl": "https://messaging.botpress.cloud",
      "clientId": "508998da-15e7-483d-a88b-55ebf5fab4d4",
      "webhookId": "dcf98da9-b282-427d-b295-3b14d9a72525",
      "lazySocket": true,
      "themeName": "prism",
      "botName": "Codex",
      "stylesheet": "https://webchat-styler-css.botpress.app/prod/4ad668c5-c39a-4d95-813a-8f3005b1bbbb/v97914/style.css",
      "frontendVersion": "v1",
      "enableConversationDeletion": true,
      "theme": "prism",
      "themeColor": "#2563eb"
      });
    </script>
  </body>
</html>
